<div class="modif-profile">
	<%= form_for @user, url: {action: "update"}, html: { multipart: true } do |f| %>
		<h4>Image de profile:</h4>
		<%= profile_avatar_select(@user) %>
		<%= f.file_field :avatar, onChange:'(loadFile(event))' %>
		<h4>Modifier votre description</h4>
		<%= f.text_area :bio, label: false, rows: 4 %>
		<%= f.submit "Modifier profil", class: 'btn btn-success' %>
	<% end %>
</div>