<div class="profile-block">
	
	<div class="row">
		<div class="profile-photo col-sm-4">
			<%= profile_avatar_select(@user) %>
		</div>
		<div class="col-sm-8">
			<h3 class="profile-username"><%= @user.user_name %></h3>
			<div><%= @user.bio %></div>
			<div><%= pluralize @user.posts.count, 'post' %></div>
			<% if @user == current_user %>
			<%= link_to 'Modifier votre profil', edit_profile_path(@user.user_name), class: 'btn edit-button' %>
		<% end %>
		</div>
	</div>

</div>	
<% @posts.each do |post| %>
	<%= render 'posts/post', post: post %>
<% end %>
