<div class="sign-up">
  <div class="content-form">
    <h2 class="title-form">Rejoignez notre communauté!</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
      	<%= f.input :user_name, required: true, label: 'Pseudo', autofocus: true, input_html: { class: 'input-lg form-control' }%>
        <%= f.input :email, required: true, autofocus: true, placeholder: 'Email', input_html: { class: 'input-lg form-control' } %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length), input_html: { class: 'input-lg form-control' }, placeholder: 'Mot de passe' %>
        <%= f.input :password_confirmation, required: true, placeholder: 'Confirmation mot de passe', input_html: { class: 'input-lg form-control' } %>
      </div>

      <div class="button">
        <%= f.button :submit, "Créer son compte", class: 'btn-lg btn-info btn-block' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>