<div class="row">
	<span>
		<%=  link_to comment.user.user_name, profile_path(comment.user.user_name) %>
	</span>
	<span class="comment-content">
		<%= comment.content %>
	</span>
</div>
<% if comment.user == current_user %>
	<%= link_to 'Supprimer', post_comment_path(post, comment), method: :delete, remote: true, data: { confirm: "Etes-vous sur?"}%>
<% end %>