<div class="sign-in">
	
	<div class="content-form">
		<h2 class="title-form">Connexion</h2>
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="form-group">
		    <%= f.input :email, label: 'Email', required: false, autofocus: true, input_html: { class: 'input-lg form-control' } %>
		    <%= f.input :password, label: 'Mot de passe', required: true, input_html: { class: 'input-lg form-control' } %>
		    <%= f.input :remember_me, label: 'Se souvenir de moi', input_html: {class: ''}, as: :boolean if devise_mapping.rememberable? %>
		  </div>

		  <div class="button">
		    <%= f.button :submit, "Se connecter", class: 'btn-lg btn-info btn-block' %>
		  </div>
		<% end %>


	<%= render "devise/shared/links" %>
	</div>
</div>