<div class="post-page">
	<div class="row">

	 	<div class="form-group">
	 		<div class="one_post">
	 			<div class="bloc-post-head">
	 				<div class="user row">
	 				<div class="userphoto col-sm-4">
	 					<%= profile_avatar_select(post.user) %>
	 				</div>
	 				<div class="username col-sm-8">
		 				<%= link_to post.user.user_name, profile_path(post.user.user_name) %>
	 				</div>
	 				
		 		</div>
		 		<div class="photo-post">
		 			<%= link_to (image_tag post.image.url(:medium), class:'img-responsive  center-block'), post_path(post) %>
		 		</div>
	 			</div>
		 		<div class="bloc-post">
			 		<div class="time">
			 			<%= time_ago_in_words post.created_at %>
			 		</div>
			 		<%= post.legende %>
			 		

			 		<%= render 'posts/likes', post: post %>
			 		<hr>
			 		<div class="comments-block">
			 			<h4>Commentaires du post</h4>
				 		<div class="comments" id= "comments_<%= post.id %>">
					 		<% if post.comments %>
					 				<div class="comment">
					 					<%= render post.comments, post: post %>
					 				</div>
					 		<% end %>	
				 		</div>	
			 		</div>	
			 		<hr>
			 		<div class="row">
				 		<div class="like-form col-sm-2">
				 		<% if current_user.liked? post %>
				 			<%= link_to '', unlike_post_path(post.id), remote: true, id: "like_#{post.id}", class: " like glyphicon glyphicon-heart" %>
				 		<% else %>
							<%= link_to '', like_post_path(post.id), id: "like_#{post.id}", remote: true,class: " like glyphicon glyphicon-heart-empty" %>	
						<% end %>
				 		</div>
				 		<div class="form-comment col-sm-10">
				 			<%= form_for([post, post.comments.build], remote: true) do |f| %>
				 				<% f.text_field :content, placeholder: "Ajouter un commentaire...", class: "input-lg  comment_content", id: "comment_content_#{post.id}" %>
				 			<% end %>
				 		</div>	
			 		</div>
		 		</div>
	 		</div>
	 	</div>

 	</div>
</div>