

<%= simple_form_for @post do |f| %>
		<div class="row edit-post">
				<h2>Modifier le post</h2>
			<div class="form-group  col-lg-12">
				<%= f.input :image, label: 'Image', class: 'form-control' %>
			</div>
			<div class="form-group  col-lg-12">
				<%= f.text_field :legende, label: 'Légende', class: 'form-control description input-lg caption' %>
			</div>
			<div>
				<%= f.submit 'Enregistrer', class: 'btn btn-warning' %>
				<%= link_to 'Supprimer', post_path(), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer le post,?" }, class: 'btn btn-danger' %>
				<%= link_to 'Annuler', root_path, class: 'btn btn-default' %>
			</div>
		</div>
	
<% end %>
