jQuery("#like_<%= @post.id %>").removeClass('glyphicon-heart-empty').addClass('glyphicon-heart');
jQuery("#like_<%= @post.id %>").attr('href', '/posts/<%= @post.id %>/unlike');
jQuery("#likes_<%= @post.id %>").html("<%= j (render partial: 'posts/likes', locals: { post: @post} ) %>");