<div class="new-post">
	 <h1>Nouveau posts</h1>

 	<%= form_for @post do |f| %>

	 	<div class="row">

	 	<div class="form-group  col-lg-5">

	 		<%= f.label :image %><br>

	 		<%= f.file_field :image, class:'form-control' %>

	 		<%= f.label :legende %><br>

	 		<%= f.text_field :legende, class:'form-control' %>

	 	</div>

	 	</div>

	 	<div>
			<%= f.submit 'Ajouter', class: 'btn btn-primary' %>

	 	</div>

 	<% end %>
</div>	