<div class="buttons-edit-block-post">
	<% if @post.user.id == current_user.id %>
		<p class="button-post-edit"><%= link_to 'Retour en arrière', posts_path, class: 'btn btn-warning' %></p>
		<p class="button-post-edit"><%= link_to "Modifier le post", edit_post_path(), class: 'btn btn-info' %> </p>
	<% else %>
		<p class="button-post-edit"><%= link_to 'Retour en arrière', posts_path, class: 'btn btn-warning' %></p>
	<% end %>
</div>
<%= render 'post', post: @post %>
