jQuery("#like_<%= @post.id %>").removeClass('glyphicon-heart').addClass('glyphicon-heart-empty');
jQuery("#like_<%= @post.id %>").attr('href', '/posts/<%= @post.id %>/like');
jQuery("#likes_<%= @post.id %>").html("<%= j (render partial: 'posts/likes', locals: { post: @post} ) %>");