/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

/* global */

* {
	padding: 0;
	margin:0;
}
body {
	min-height: 100%;
	background: #232526;  /* fallback for old browsers */
	background-image: url('stars.png');
	
}

h1 {
	font-size:30px;
	text-align: center;
	margin-top: 5%;
	color: white;
}

.subtitle {
	color:white;
	text-align: center;
	font-size:24px;
	margin-bottom: 5%;
}

.post-page {
	background-image: url('stars.png');
	background-position: center ;
	
}

a {
	text-decoration: none;
	color:#CDDC39;
}
a:hover, a:focus {
	text-decoration: none;
	color:#00BCD4;
}

/*navbar*/

.navbar-header ul li {
	text-decoration: none;
	display: inline-block;
	padding-top: 1.5%;
}

.navbar {
	margin-bottom:0%;
}

/* Formulaire */

.sign-in, .sign-up {
	height: 100vh;
	background-image: url('background.jpeg');
    background-repeat:no-repeat;
	background-size:cover;
	background-position: center ;
	padding-top: 5%;
}
.sign-up .button.btn-lg.btn-info.btn-block {
	margin-top: 5%;
}
.content-form {
	opacity: 0.9;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	background-color: #212121;
	padding:3%;
	max-width: 700px;
	color:white;
	border:1px solid #CDDC39;
	-webkit-box-shadow: 0px 0px 15px 8px rgba(196,255,18,0.2);
	-moz-box-shadow: 0px 0px 15px 8px rgba(196,255,18,0.2);
	box-shadow: 0px 0px 15px 8px rgba(196,255,18,0.2);
}

.content-form:hover {
	opacity:1;
}

h2.title-form {
	text-align: center;
	margin-top:5%;
	margin-bottom: 5%;
}
.button.btn-lg.btn-info.btn-block {
	background: #00BCD4;
	border: none;
}
.button.btn-lg.btn-info.btn-block:hover { 
	background: #CDDC39;
}
.content-form label {
	font-weight:lighter;
	margin-bottom: 3%;
	margin-top:5%;
}


/* post */

.bloc-post-head {
	background: #212121;
	padding-bottom: 5%;
}
.one_post {
	max-height: 40%;
	max-width: 40%;
	margin:0 auto;
	margin-bottom: 5%;
	background: #00BCD4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #0097A7, #00BCD4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #0097A7, #00BCD4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
}

.user {
	font-size: 24px;
	padding:2%;
}

.username {
	vertical-align: center;
}

.userphoto {
	width: 10%;
}

.bloc-post {
	padding:2%;
}

.comment_content {
	width: 100%;
}
/* comment */

.comments-block {
	padding:2%;
}

/* like */
.like {
	font-size: 3em;
	vertical-align: bottom;
	color:#CDDC39;
}

.like:hover {
	color:#B2EBF2;
}

.like:visited {
	color:#CDDC39;
}
.like:focus {
	color:#CDDC39;
}

/*profile */

.profile-block {
	padding-top:7%;
	padding-bottom: 5%;
	margin-bottom: 3%;
	color:white;
	background: #00BCD4;
	-webkit-box-shadow: 0px 22px 44px 0px rgba(8,146,161,0.47);
-moz-box-shadow: 0px 22px 44px 0px rgba(8,146,161,0.47);
box-shadow: 0px 22px 44px 0px rgba(8,146,161,0.47);
}

.profile-photo {
	text-align: right;
}
.profile-image {
	float: right;
}

/* modif profile */

.modif-profile {
	background-color: #0097A7;
	color:white;
	max-width: 50%;
	border:1px solid white;
	margin:0 auto;
	margin-top: 3%;
	padding:2%;
}

#user_bio {
	color:black;
}

/* new post */

.new-post {
	margin:0 auto;
	max-width: 50%;
	color:white;
	background-color: #FFFFFF;
	text-align: center;
	padding-bottom:5%;
}

.new-post h1 {
	background:#0097A7;
	padding:2%;
	padding-top: 2%;
}

/* edit post */

.button-post-edit {
	display:inline-block;
}

.buttons-edit-block-post {
	margin: 0 auto;
	text-align:center;
}

.edit-post {
	margin:0 auto;
	max-width:400px;
	background-color: #00BCD4;
	text-align:center;
	margin-top: 5%;
	padding:2%;
	color:white;
}

