<nav class="navbar navbar-inverse ">
  <div class="container">
  	<div class="navbar-header">
        <%= link_to 'Pictugram', root_path, class: "navbar-brand" %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
     <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Nouveau post', new_post_path %></li>
          <li><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %></li>
        <% else %>
      		<li><%= link_to 'Connexion', new_user_session_path %></li>

      		<li><%= link_to 'Inscription', new_user_registration_path %></li>
        <% end %>
    </ul>
  </div>
    </div>
  </div>
</nav>
