<!DOCTYPE html>
<html>
  <head>
    <title>Pictugram</title>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/navbar' %>
<% flash.each do |nom, message| %>
	<%= content_tag :div, message, class: [:alert, alert_for(nom)] %>
	<% end %>
    <%= yield %>

  </body>
</html>
